</head>
<body>
<div class="main-container">
    <nav class="dashboard-navbar">
        <i class="fas fa-times" id="nav-close-btn"></i>
        <div class="dash-logo">
            <i class="fab fa-safari"></i><span>EX-activities</span>
        </div>
        <ul class="dash-navbar">
            <li class="dash-list-item">
                <a href="manage-activities.php" class="">
                    <i class="fas fa-tasks"></i> <span>activities</span>
                </a>
            </li>
            <li class="dash-list-item">
                <a href="../website/activities.php">
                    <i class="fas fa-sign-out-alt"></i> <span>go to website</span>
                </a>
            </li>
            <li class="dash-list-item">
                <a href="sign-out.php">
                    <i class="fas fa-sign-out-alt"></i> <span>sign out</span>
                </a>
            </li>
        </ul>
    </nav>